.container {
  padding: 0 2rem;
  background-color: #2a3525;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}

.side-nav1 {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 61%;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}

.side-nav--visible {
  pointer-events: auto;
}

.side-nav__container {
  position: relative;
  width: 90%;
  max-width: 300px;
  background: #1d352b;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #48605c;
  top: 100px;
  left: 20px;
  transform: translateX(-122%);
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.side-nav__container1 {
  position: absolute;
  width: 90%;
  max-width: 300px;
  background: #1d352b;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #48605c;
  bottom: 27px;
  right: 0;
  transform: translateX(-26%);
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.side-nav--animatable .side-nav__container {
  transition: transform 0.13s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible.side-nav--animatable .side-nav__container {
  transition: transform 0.33s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible::before {
  opacity: 1;
}

.side-nav--visible .side-nav__container {
  transform: none;
}
